.section-about
    padding-top: 8rem
    padding-bottom: 5rem
    
.section-adventure
    padding: 21rem 0
    background: linear-gradient(90deg, rgba($color-brown-light, 0.7) 0.03%, rgba($color-black, 0.7) 99.94%), url('../img/section-adventure.jpg') center / cover no-repeat
    // clip-path:  polygon(0 0, 100% 0, 100% 100%, 0 80%)
    transform: skewY(7deg)
    & > *
        transform: skewY(-7deg)

.section-tour
    padding-top: 15rem

.section_feedback
    padding-top: 8rem
    margin-bottom: 8rem